<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.review.model.dao.ReviewMapper">

	<select id="selectTotalCount" resultType="int">
		SELECT
			   COUNT(*)
		  FROM
		       TB_REVIEW
		 WHERE
		       REVIEW_STATUS = 'Y'
	</select>

	<select id="findAllReview" resultType="com.kh.spring.review.model.dto.ReviewDTO">
		SELECT
			   REVIEW_NO reviewNo
			 , MEMBER_NO memberNo
			 , CREATOR_NO creatorNo
			 , REVIEW_NAME reviewName
			 , REVIEW_CONTENT reviewContent
			 , REVIEW_DATE reviewDate
			 , REVIEW_STATUS  reviewStatus
		  FROM
		       TB_REVIEW
		 WHERE
		       REVIEW_STATUS = 'Y'
		 ORDER
		    BY
		       REVIEW_NO DESC 
	</select>
	
	<insert id="saveReview" parameterType="com.kh.spring.review.model.dto.ReviewDTO">
		INSERT
		  INTO
		       TB_REVIEW
		VALUES
		       (
		       SEQ_RNO.NEXTVAL
		     , #{memberNo}
		     , #{creatorNo}
		     , #{ReviewName}
		     , #{ReviewContent}
		     , DEFAULT
		     , DEFAULT
		       )
	</insert>
	
	<select id="findByReviewNo" parameterType="int" resultType="com.kh.spring.review.model.dto.ReviewDTO">
		SELECT
			   REVIEW_NO reviewNo
			 , MEMBER_NO memberNo
			 , CREATOR_NO creatorNo
			 , REVIEW_NAME reviewName
			 , REVIEW_CONTENT reviewContent
			 , REVIEW_DATE reviewDate
			 , REVIEW_STATUS reviewStatus
		  FROM
		       TB_REVIEW
		 WHERE
		       REVIEW_NO = #{reviewNo}
		   AND
		       REVIEW_STATUS = 'Y'
	</select>
</mapper>